

/* ------ Global Styling ------- */

html {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}


.page {
	max-width: 1440px;
	width: 100%;
}

.header  {
	background: #eee;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .logo {
	margin-left: 10px;
	text-transform: uppercase;
	font-weight: 700;
}

.container ul {
	list-style: none;
	margin: 0;
}


.container ul li {
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
	position: relative;
	cursor: pointer;
}

.container ul li i {
	padding-left: 10px;
}

ul.sub-menu {
	position: absolute;
	width: 100%;
	padding-left: 0px;
	margin-left: -1px;
	background: #FFFAB7;
	opacity: 0;
}

label{
	margin: 0 40px 0 0;
	font-size: 20px;
	line-height: 50px;
	display: none;
}

#toggle {
	display: none;
}
/*ul.sub-menu li {
	padding: 5px 10px;
}
*/
.links li:hover .sub-menu {
	opacity: 1;
}

#main {
	display: flex;
}

.entry {
	flex:2;
}

.map {
	flex:5;
}

.button {
	background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    white-space: nowrap;
    transition: ease;
    
    padding: 7px 24px;
    margin-bottom: 20px;
    
    &:active,
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: 0.6;
    }
    &:active {
        transform: translateY(1px);
    }
}

.btn-standard {
    background-color: #89D79B;
    box-shadow: 0 4px 0 0 #86D295;
    color: #fff;
    margin-top: 20px;
    &:hover {
        background-color: #47C678;
        color: #fff;
    }
    &:active {
        box-shadow: inset 0 1px 0 0 #47C678;
    }
}

.btn-save {
    background-color: #006AFF;
    box-shadow: 0 4px 0 0 #006AFF;
    color: #fff;
    margin-top: 20px;
    &:hover {
        background-color: #47C678;
        color: #fff;
    }
    &:active {
        box-shadow: inset 0 1px 0 0 #47C678;
    }
}

.btn-cancel {
    background-color: #BF202C;
    box-shadow: 0 4px 0 0 #BF202C;
    color: #fff;
    margin-top: 20px;
    &:hover {
        background-color: #47C678;
        color: #fff;
    }
    &:active {
        box-shadow: inset 0 1px 0 0 #47C678;
    }
}

.entry table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	padding: 1rem;
}

.entry table tr {
    box-shadow: 0 4px 4px -4px rgba(0,0,0,0.2);
}

.entry {
	text-align: center;
}

.entry a{
	text-decoration: none;
}

.entry-actions i {
	padding-right: 4px;
}

.modal {
	display: table;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.modal_dialog {
	display: table-cell;
	vertical-align: middle;
}

.modal_content {
	background: #57B695;
	width: 80%;
	margin: auto;
	padding: 20px;
	max-width: 600px;
	color: white;
	position: relative;
	animation: slideUp 0.3s ease-in-out;
}

.modal_close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.modal:target {
	display: table;
}

input {
	display: inline-block;
	padding: 20px;
	margin: 10px;
	border-radius: 4px;
}

@media all and (max-width: 600px) {
	#main {
		display: flex;
		flex-direction: column;
	}

	.links {
		display: block;
	}

	.container ul {display: flex;
		flex-direction: column-reverse;
		padding-left: 0;
		text-align: right;
	}

	.entry {
		width: 100%;
		text-align: center;
		margin: 10px;
	}

	.entry table {
		margin: auto;
		padding-top: 20px;
	}

	.map {
		width: 100%;
	}
}


@keyframes slideUp {
	from {
		opacity: 0;
		bottom: -200px;
	}

	to {
		opacity: 1;
		bottom: 0;
	}
}

